.nav {
    /* border: solid red; */
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 2rem 0 ;
    background-color: black;
    opacity: 100%;
    /* box-shadow: inset 0 -10px 10px -10px rgba(255, 255, 255, 0.5); */
    margin-top: 0;
    top: 0
    
}

.nav li  {

    list-style: none;
    margin: 0 .5rem;
    font-size: 1.2rem;
    transition: transform 0.3s; 
}

.nav li.active {
    color:red;
    transform: scale(1.1); /* Scale up by 10% when active */
  }

.pageContainer, .pageContainer2{
    /* border:solid green; */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:end;
    
}

.pageContainer2 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695014380/Portfolio%20textures/Black_Purple_and_Pink_Neon_Animator_Online_Portfolio_dhvmgs.svg);
    background-size: cover;
    background-repeat: no repeat;
}

/* **********************  Home *********************** */

.imageContainer {
    /* border:solid red; */
    height:55%;
    display:flex;
    justify-content:center;
    align-items: end;
}

.arrowBox1 {
    /* border: solid blue; */
    height:25rem;
    width:25rem;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694840895/Portfolio%20textures/1_jjr408.svg);
    background-size: cover;
    background-position: center center;
    margin: 0rem auto
}

.arrowBox2 {
    /* border: solid blue; */
    height:25rem;
    width:25rem;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694840901/Portfolio%20textures/2_ma1yyu.svg);
    background-size: cover;
    background-position: center center;
    margin: 0rem auto
}

.photoBox {
    /* border:solid red; */
    height:30rem;
    width:30rem;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694841049/Portfolio%20textures/Green_Gradient_Minimalist_Simple_Instagram_Profile_Picture_1_jjlqds.svg);
    background-position: center center;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;

}

.photoBox:hover{
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694988455/Portfolio%20textures/Green_Gradient_Minimalist_Simple_Instagram_Profile_Picture_3_yfogol.svg);
    
}

.titleContainer {
    /* border: solid orange; */
    height: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBox1 {
    /* border:solid green; */
    font-size: 80px;
    padding:0 0;
    text-align: center;
    margin: 0;
}

.textBox2 {
    /* border:solid white; */
    font-size: 52px;
    font-weight: 300;
    color: #BC84F6;
    text-align: center;
    margin: .5rem;
}

.buttonBox {
    display:flex;
    justify-content: center;
    /* flex-direction: column; */
    /* border:solid green; */
    height: 30%;
    width: 40%;
    margin-top: 2rem;
}

.actionButton1 {
    width: 30%;
    height: 50%;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694981064/Portfolio%20textures/7_z9qc5m.svg);
    background-size: cover;
    background-position: center center;
    margin: 1rem;
}

.actionButton1:hover {
    transform: scale(1.1); /* Expand by 10% */
}

.actionButton2 {
    /* border: solid blue; */
    width:30%;
    height: 50%;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1694981065/Portfolio%20textures/8_tzfalt.svg);
    background-size: cover;
    background-position: center center;
    margin:1rem;
    transition: background 0.5s;
}

.actionButton2:hover {
    transform: scale(1.1); /* Expand by 10% */
}

/* ************************** Projects ********************** */

.projectContainer {
    width: 100%;
    height: 85%;
    /* border:solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.projects {
    /* border:solid white; */
    height: 32rem;
    width: 30rem;
    margin:1.5rem;
    border-radius: 5%;
}

.projectImage {
    width: 100%;
    height: 60%;
    border-radius: 1rem;
    /* border:solid red; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectImage:hover {
    transform: scale(1.1); /* Increase size by 10% */
    box-shadow: 0 0 20px rgb(255, 255, 255); /* Add a glow effect */
}

.title {
    text-align: center;
    margin-top: 2rem;
}
.projectText {
    margin-top: .5rem;
    font-weight: 300;
}

.project2 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695012988/Portfolio%20textures/Screen_Shot_2023-09-17_at_9.19.31_PM_dio67v.png);
    background-size: cover;
    background-position: center center;
}
.project1 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695013919/Portfolio%20textures/Screen_Shot_2023-09-17_at_10.11.35_PM_rcemgn.png);
    background-size: cover;
    background-position: center center;
}
.project3 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695017707/Portfolio%20textures/Screen_Shot_2023-09-17_at_11.12.52_PM_ugmc0u.png);
    background-size: cover;
    background-position: center center;
}
.project4 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695052040/Portfolio%20textures/Screen_Shot_2023-09-18_at_8.46.27_AM_tyzipr.png);
    background-size: cover;
    background-position: center center;
}
.project5 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695052218/Portfolio%20textures/Screen_Shot_2023-09-18_at_8.49.29_AM_i8jaar.png);
    background-size: cover;
    background-position: center center;
}

/* *************************About********** */

.aboutContainer {
    width: 100%;
    height: 85%;
    /* border: solid red; */
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-self: center;
    padding-bottom: 1rem;
}

.leftSide, .rightSide{
    display:flex;
    /* border:solid red; */
    height: 100%;
    width: 20%;
}

.rightSide {
    justify-content: flex-end;
}

.cornerImage1 {
    height: 20rem;
    width: 20rem;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695060869/Portfolio%20textures/1_jis0tt.svg);
    background-size: cover;
    background-position: center center;
}

.cornerImage2 {
    /* border: solid red; */
    display: flex;
    align-self: flex-end;
    height: 20rem;
    width: 20rem;
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695060876/Portfolio%20textures/2_wbjvc2.svg);
    background-size: cover;
    background-position: center center;
}

.contactImage {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695063641/Portfolio%20textures/1_gwbqd3.svg);
    background-size: cover;
    background-position: center center;
}
.contactImage2 {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695063750/Portfolio%20textures/2_tohw68.svg);
    background-size: cover;
    background-position: center center;
}

.contactImageTitle {
    background-image: url(https://res.cloudinary.com/dpxbrpprt/image/upload/v1695064278/Portfolio%20textures/Untitled_design_2_mil1rs.svg);
    width: 70%;
    height: 10%;
    background-size: cover;
    background-position: center center;
    /* border: solid red; */
}

.contactMe {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
}

.aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid green; */
    width: 59.48%;
    height: 100%;
}


.aboutMeTitle{
    font-size: 90px;
    /* border: solid red; */
    margin: 1rem
}

.aboutMeBody {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

/* Experience --------------------------*/

.xpbox {
    /* border:solid white; */
    padding:2rem;
}

.pspan{
    font-weight: bold;
}

.experienceTitle {
    font-size: 2rem;
    color:aquamarine
}

.experienceP {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .5rem;
}

.experienceP p{
    font-size: 1.5rem;
    font-weight: 300;
    margin: .5rem;
}

.jobTitle {
    padding-bottom: 1rem
}

@media (min-width: 60.1rem) and (max-width: 77rem) {

    /* .imageContainer {
        align-items: center;
    } */

    .nav {
        justify-content: center;
        /* border: solid red; */
    }

    .pageContainer {
        justify-content:center;
        
    }
    
    .arrowBox1 {
        /* border: solid blue; */
        height:19rem;
        width:19rem;
    }

    .arrowBox2 {
        /* border: solid blue; */
        height:19rem;
        width:19rem;
    }

    .photoBox {
        /* border:solid red; */
        height:23rem;
        width:23rem;
    }

    .textBox1 {
        /* border:solid green; */
        /* width:40%;
        height: 30%; */
        font-size: 60px;
        padding:0;
        margin: 0;
        text-align: center;
    }
    
    .textBox2 {
        /* border:solid green; */
        /* width:40%;
        height: 30%; */
        font-size: 39px;
        font-weight: 300;
        color: #BC84F6;
        text-align: center;
        margin: .5rem;;
    }

    .buttonBox {
        height: 30%;
        width: 50%;
        margin-top: 0rem;
    }

    .contactImageTitle {
        width: 100%;
        height: 10%;
        /* border: solid red; */
    }

}

@media (min-width: 42rem) and (max-width: 60rem) {

    .nav {
        justify-content: center;
        /* border: solid red; */
    }

    .imageContainer {
        align-items: center;
        /* border: solid pink; */
        height: 35%;
    }

    .pageContainer {
        justify-content:center;
        /* border: solid red; */
    }
    
    .arrowBox1 {
        /* border: solid blue; */
        height:12rem;
        width:12rem;
    }

    .arrowBox2 {
        /* border: solid blue; */
        height:12rem;
        width:12rem;
    }

    .photoBox {
        /* border:solid red; */
        height:18rem;
        width:18rem;
    }

    .textBox1 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 60px;
        padding:0;
        text-align: center;
        margin: 0;
    }
    
    .textBox2 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 35px;
        font-weight: 300;
        color: #BC84F6;
        text-align: center;
        margin: .5rem;
    }

    .titleContainer {
        /* border: solid orange; */
        height: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonBox {
        /* border: solid red; */
        width: 90%;
        margin:0
    }

    .aboutMeTitle{
        font-size: 70px;
        /* border: solid red; */
        margin: 1rem
    }
    
    .aboutMeBody {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 300;
    }

    .contactImageTitle {
        width: 100%;
        height: 10%;
        /* border: solid red; */
    }

}


@media (min-width: 31rem) and (max-width: 42rem) {
    .arrowBox1,
    .arrowBox2 {
        display: none;
    }

    .nav {
        justify-content: center;
        /* border: solid red; */
        width: 96%;
    }

    .imageContainer {
        align-items: center;
        /* border: solid pink; */
        height: 35%;
    }

    .pageContainer {
        justify-content:center;
        /* border: solid red; */
    }
    
    .photoBox {
        /* border:solid red; */
        height:23rem;
        width:23rem;
    }

    .textBox1 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 60px;
        padding:0;
        text-align: center;
        margin-top: 2rem;
    }
    
    .textBox2 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 35px;
        font-weight: 300;
        color: #BC84F6;
        text-align: center;
        margin: .5rem;
    }

    .titleContainer {
        /* border: solid orange; */
        height: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonBox {
        /* border: solid red; */
        width: 90%;
        margin:0
    }

    .actionButton1{
        width: 35%;
    }

    .actionButton2 {
        /* border: solid blue; */
        width: 35%;
    }

    .aboutMeTitle{
        font-size: 50px;
        /* border: solid red; */
        margin: 1rem
    }
    
    .aboutMeBody {
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
    }

    .contactImageTitle {
        width: 100%;
        height: 10%;
        /* border: solid red; */
    }
    
    .contactMe {
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 31rem) {
    .arrowBox1,
    .arrowBox2 {
        display: none;
    }

    .nav {
        justify-content: center;
        width: 96%;
        padding-top: 1rem;
        /* border: solid red; */
    }

    .nav li{
        font-size: 1rem;
        margin:.2rem;
        /* border:solid red */
    }

    .pageContainer {
        /* border:solid green; */
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
    }

    .imageContainer {
        /* border:solid red; */
        align-items: center;
        height: 50%;
    }

    .photoBox {
        /* border:solid red; */
        height:18rem;
        width:18rem;
        margin-top: 1rem;
    }

    .textBox1 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 45px;
        padding:0;
        text-align: center;
        margin-top: 0rem;
    }
    
    .textBox2 {
        /* border:solid green; */
        width:100%;
        height: 20%;
        font-size: 35px;
        font-weight: 300;
        color: #BC84F6;
        text-align: center;
    }

    .buttonBox {
        /* border: solid red; */
        width: 100%;
        margin:0;
    }

    .actionButton1{
        width: 35%;
    }

    .actionButton2 {
        /* border: solid blue; */
        width: 35%;
    }

    .aboutMeTitle{
        font-size: 30px;
        /* border: solid red; */
        margin: 1rem
    }
    
    .aboutMeBody {
        font-size: .8rem;
        text-align: center;
        font-weight: 300;
    }

    .contactImageTitle {
        width: 100%;
        height: 10%;
        /* border: solid red; */
    }
    
    .contactMe {
        font-size: .8rem;
    }

    .experienceTitle {
        font-size: 1.5rem;
        color:aquamarine
    }
    
    .experienceP {
        font-size: 1rem;
        font-weight: 300;
        margin: .5rem;
    }
    
    .experienceP p{
        font-size: 1rem;
        font-weight: 300;
        margin: .5rem;
    }
}